In [4]:
import pandas as pd
import datetime as dt

In [16]:
df_train = pd.read_csv('train_data.csv')
df_train.drop('Unnamed: 0', axis=1, inplace=True)
df_train['date'] = df_train['date'].apply(lambda x: dt.datetime.strptime(x,'%Y-%m-%d'))

/Applications/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
def get_time_sample(df, month, window):
    end_date = dt.datetime(2017, month-1, 30)
    start_date = end_date - dt.timedelta(int(30.5*window))
    return df[(df.date >= start_date) & (df.date <= end_date)]

def join_df(df1, df2):
     df1.set_index('id').join(df2.set_index('id'))

In [28]:
cols = ['q', 'v_l', 'sum_b', 'percent']

In [37]:
# фичи для 1 месяца
month = 12
window = 1
df = get_time_sample(df_train, month, window)
features_1 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_1.columns = col_names
features_1.head()

              q_1   v_l_1  sum_b_1  percent_1
id
21-186G-1172    0  123.24  4409.81       1.14
21-186G-1190    0   42.76  1545.69       0.25
21-186G-1193    1   20.92   845.79       0.00
21-186G-12      0  114.72  4288.22     859.73
21-186G-1201    0   24.56   908.85       0.00

In [36]:
# фичи для 6 месяцев
month = 12
window = 6
df = get_time_sample(df_train, month, window)
features_6 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_6.columns = col_names
features_6.head()

              q_6   v_l_6   sum_b_6  percent_6
id
21-186G-1161    0   20.23    726.52       0.06
21-186G-1172    1  442.30  15955.27     229.77
21-186G-1190    2  199.07   7246.41     472.80
21-186G-1193    1   72.31   2747.25       0.00
21-186G-12      2  842.01  31279.70     910.83

In [38]:
# фичи для 12 месяцев
month = 12
window = 12
df = get_time_sample(df_train, month, window)
features_12 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_12.columns = col_names
features_12.head()

              q_12   v_l_12  sum_b_12  percent_12
id
21-186G-1161     0    63.41   2363.18        0.35
21-186G-1172     1   719.02  25681.58      231.31
21-186G-1190     2   282.49  10155.56      473.74
21-186G-1193     1   126.83   4662.94        0.13
21-186G-12       2  1598.53  58389.47     2316.65

In [39]:
# фичи для 18 месяцев
month = 12
window = 18
df = get_time_sample(df_train, month, window)
features_18 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_18.columns = col_names
features_18.head()

              q_18   v_l_18  sum_b_18  percent_18
id
21-186G-1161    10   371.97  15054.63       60.46
21-186G-1172     1   719.02  25681.58      231.31
21-186G-1190     2   314.26  11245.28      481.91
21-186G-1193     1   282.25  10025.00      818.30
21-186G-12       8  2189.85  80059.61     2435.28

In [40]:
# фичи для 24 месяцев
month = 12
window = 24
df = get_time_sample(df_train, month, window)
features_24 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_24.columns = col_names
features_24.head()

              q_24   v_l_24  sum_b_24  percent_24
id
21-186G-1161    10   495.90  19647.19      198.23
21-186G-1172     1   719.02  25681.58      231.31
21-186G-1190     3   340.13  12189.73      510.25
21-186G-1193     2   426.03  14927.87      965.39
21-186G-12      17  2590.27  94764.90     3072.88

In [42]:
result = features_1.join(features_6).join(features_12).join(features_18).join(features_24)
result.head()

,q_1,v_l_1,sum_b_1,percent_1,q_6,v_l_6,sum_b_6,percent_6,q_12,v_l_12,sum_b_12,percent_12,q_18,v_l_18,sum_b_18,percent_18,q_24,v_l_24,sum_b_24,percent_24
id,,,,,,,,,,,,,,,,,,,,
21-186G-1172,0,123.24,4409.81,1.14,1,442.30,15955.27,229.77,1,719.02,25681.58,231.31,1,719.02,25681.58,231.31,1,719.02,25681.58,231.31
21-186G-1190,0,42.76,1545.69,0.25,2,199.07,7246.41,472.80,2,282.49,10155.56,473.74,2,314.26,11245.28,481.91,3,340.13,12189.73,510.25
21-186G-1193,1,20.92,845.79,0.00,1,72.31,2747.25,0.00,1,126.83,4662.94,0.13,1,282.25,10025.00,818.30,2,426.03,14927.87,965.39
21-186G-12,0,114.72,4288.22,859.73,2,842.01,31279.70,910.83,2,1598.53,58389.47,2316.65,8,2189.85,80059.61,2435.28,17,2590.27,94764.90,3072.88
21-186G-1201,0,24.56,908.85,0.00,12,319.06,13267.67,99.09,22,526.05,21515.67,458.18,23,909.39,35017.42,687.20,28,1093.21,41652.98,1034.36

In [43]:
result.to_csv('olya_features_train.csv')

In [44]:
#df_test = pd.read_csv('test_data.csv')
#df_test.drop('Unnamed: 0', axis=1, inplace=True)
#df_test['date'] = df_test['date'].apply(lambda x: dt.datetime.strptime(x,'%Y-%m-%d'))
df_test.head()

,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
0,21:23:27,2017-08-12,11.89,0,2017,454.83,11125.0,21-8AD-19813,12.01.16 16:12:54,9.0,436.0,01010211,152.0,0.00,7
1,08:58:01,2016-05-10,12.32,0,2016,454.54,2388.0,21-8AH-16987,02.01.16 09:59:24,11.0,454.0,01010131,128.0,13.63,13
2,17:33:27,2017-07-26,45.36,0,2017,1863.99,1716.0,21-8B0-11899,03.01.16 14:33:09,9.0,430.0,01010132,132.0,0.00,7
3,NaN,2016-09-05,7.84,0,2016,263.69,3246.0,21-8AF-17077,12.05.15 03:24:33,6.0,458.0,01010121,126.0,0.00,5
4,NaN,2017-06-10,0.00,1,2017,53.64,3303.0,21-8AN-4584,04.01.16 18:55:55,5.0,459.0,02300000,234.0,0.00,6

In [47]:
df_train = get_time_sample(df_test, 5, 24)

In [49]:
# фичи для 1 месяца
month = 5
window = 1
df = get_time_sample(df_train, month, window)
features_1 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_1.columns = col_names
features_1.head()

# фичи для 6 месяцев
month = 12
window = 6
df = get_time_sample(df_train, month, window)
features_6 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_6.columns = col_names
features_6.head()

# фичи для 12 месяцев
month = 12
window = 12
df = get_time_sample(df_train, month, window)
features_12 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_12.columns = col_names
features_12.head()

# фичи для 18 месяцев
month = 12
window = 18
df = get_time_sample(df_train, month, window)
features_18 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_18.columns = col_names
features_18.head()

# фичи для 24 месяцев
month = 12
window = 24
df = get_time_sample(df_train, month, window)
features_24 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

col_names = []
for i in cols:
    col_names.append(i + '_' + str(window))
features_24.columns = col_names
features_24.head()

hz_result = features_1.join(features_6).join(features_12).join(features_18).join(features_24)
hz_result.head()

,q_1,v_l_1,sum_b_1,percent_1,q_6,v_l_6,sum_b_6,percent_6,q_12,v_l_12,sum_b_12,percent_12,q_18,v_l_18,sum_b_18,percent_18,q_24,v_l_24,sum_b_24,percent_24
id,,,,,,,,,,,,,,,,,,,,
21-186G-1142,0,88.66,3461.96,0.00,NaN,NaN,NaN,NaN,3,254.62,9702.21,0.00,18,851.16,31740.02,1858.79,18,1073.35,39321.49,2310.34
21-186G-1225,4,56.42,2550.48,0.00,NaN,NaN,NaN,NaN,15,200.20,8910.48,0.00,15,200.20,8910.48,0.00,15,200.20,8910.48,0.00
21-186G-1227,0,12.30,454.48,0.00,NaN,NaN,NaN,NaN,0,130.83,4812.03,184.42,0,183.07,6693.65,184.42,0,251.15,9048.10,265.67
21-186G-1232,0,190.89,7459.92,321.73,NaN,NaN,NaN,NaN,0,871.83,33198.26,1819.78,1,972.82,36750.39,2380.03,3,1240.69,46231.22,2850.42
21-186G-1258,1,55.99,2371.55,454.36,NaN,NaN,NaN,NaN,1,315.61,12505.34,454.36,1,735.39,27653.23,2088.05,1,1150.84,42557.12,3196.04

In [50]:
print(len(result), len(hz_result))

52983 28885

In [51]:
olya_features_hitrozopii_train_and_train = result.append(hz_result)
olya_features_hitrozopii_train_and_train.to_csv('olya_features_hitrozopii_train_and_train.csv')
len(olya_features_hitrozopii_train_and_train)

81868

In [52]:
df_test = pd.read_csv('test_data.csv')
df_test.drop('Unnamed: 0', axis=1, inplace=True)
df_test['date'] = df_test['date'].apply(lambda x: dt.datetime.strptime(x,'%Y-%m-%d'))
df_test.head()

/Applications/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
0,21:23:27,2017-08-12,11.89,0,2017,454.83,11125.0,21-8AD-19813,12.01.16 16:12:54,9.0,436.0,01010211,152.0,0.00,7
1,08:58:01,2016-05-10,12.32,0,2016,454.54,2388.0,21-8AH-16987,02.01.16 09:59:24,11.0,454.0,01010131,128.0,13.63,13
2,17:33:27,2017-07-26,45.36,0,2017,1863.99,1716.0,21-8B0-11899,03.01.16 14:33:09,9.0,430.0,01010132,132.0,0.00,7
3,NaN,2016-09-05,7.84,0,2016,263.69,3246.0,21-8AF-17077,12.05.15 03:24:33,6.0,458.0,01010121,126.0,0.00,5
4,NaN,2017-06-10,0.00,1,2017,53.64,3303.0,21-8AN-4584,04.01.16 18:55:55,5.0,459.0,02300000,234.0,0.00,6

In [65]:
df_test['id'].nunique()

31122

In [85]:
def split_test(df):
    tmp = df.groupby('id')['date'].max() 
    id_Oct = tmp[tmp < dt.datetime(2017,11,1)].index
    id_Dec = tmp[tmp >= dt.datetime(2017,11,1)].index
    df_Oct = df[df.id.isin(id_Oct)]
    df_Dec = df[df.id.isin(id_Dec)]
    return df_Oct, df_Dec

In [86]:
df_Oct, df_Dec = split_test(df_test)

In [87]:
df_Oct['id'].nunique() + df_Dec['id'].nunique()

31122

In [95]:
def my_features(df, month):
    # фичи для 1 месяца
    window = 1
    df = get_time_sample(df, month, window)
    features_1 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

    col_names = []
    for i in cols:
        col_names.append(i + '_' + str(window))
    features_1.columns = col_names
    features_1.head()

    # фичи для 6 месяцев
    window = 6
    df = get_time_sample(df, month, window)
    features_6 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

    col_names = []
    for i in cols:
        col_names.append(i + '_' + str(window))
    features_6.columns = col_names
    features_6.head()

    # фичи для 12 месяцев
    window = 12
    df = get_time_sample(df, month, window)
    features_12 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

    col_names = []
    for i in cols:
        col_names.append(i + '_' + str(window))
    features_12.columns = col_names
    features_12.head()

    # фичи для 18 месяцев
    window = 18
    df = get_time_sample(df, month, window)
    features_18 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

    col_names = []
    for i in cols:
        col_names.append(i + '_' + str(window))
    features_18.columns = col_names
    features_18.head()

    # фичи для 24 месяцев
    window = 24
    df = get_time_sample(df, month, window)
    features_24 = df.groupby('id')['q', 'v_l', 'sum_b', 'percent'].sum()

    col_names = []
    for i in cols:
        col_names.append(i + '_' + str(window))
    features_24.columns = col_names
    features_24.head()

    return features_1.join(features_6).join(features_12).join(features_18).join(features_24)

In [99]:
agg_Oct = my_features(df_Oct, 10)
agg_Dec = my_features(df_Dec, 12)
agg = agg_Oct.append(agg_Dec)

In [101]:
agg.to_csv('olya_features_test_all_periods.csv')

In [100]:
agg.shape

(31122, 20)