In [6]:
import pandas as pd
from datetime import datetime
import tqdm

In [3]:
df = pd.read_csv('features_codes_38.csv')
df['date'] = df['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))
df.head()

,id,date,101,106,201,202,203,204,205,206,...,234,235,237,238,239,240,242,243,412,999
0,21-186G-1161,2016-03-01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,21-186G-1161,2016-04-01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,21-186G-1161,2016-07-01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21-186G-1161,2016-09-01,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,21-186G-1161,2016-10-01,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
train_target = pd.read_csv('train_target.csv')
train_target['date'] = train_target['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))
train_target.head()

   target       date            id
0       0 2016-03-01  21-186G-1161
1       1 2016-04-01  21-186G-1161
2       1 2016-07-01  21-186G-1161
3       0 2016-09-01  21-186G-1161
4       0 2016-10-01  21-186G-1161

In [10]:
X = df.set_index(['id', 'date']).join(train_target.set_index(['id', 'date']))
X.head()

                         101  106  201  202  203  204  205  206  207  208  \
id           date
21-186G-1161 2016-03-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-07-01  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-09-01  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-10-01  3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

                          ...    235  237  238  239  240  242  243  412  999  \
id           date         ...
21-186G-1161 2016-03-01   ...    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-04-01   ...    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-07-01   ...    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-09-01   ...    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             2016-10-01   ...    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

                         target
id           date
21-186G-1161 2016-03-01       0
             2016-04-01       1
             2016-07-01       1
             2016-09-01       0
             2016-10-01       0

[5 rows x 39 columns]

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [19]:
clf = RandomForestClassifier(max_depth=4, random_state=0)
clf.fit(X.iloc[:,:-1], X.iloc[:,-1])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

In [20]:
cross_val_score(clf, X.iloc[:,:-1], X.iloc[:,-1], scoring='roc_auc', cv = 3).mean()

0.67664101617522021