In [2]:
import pandas as pd
from datetime import datetime
import tqdm

In [4]:
df_train = pd.read_csv('train_data.csv')
df_train.drop('Unnamed: 0', axis=1, inplace=True)
df_train.head()

/Applications/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
0,NaN,2016-12-28,30.46,0,2016,1090.60,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,5
1,NaN,2016-12-27,0.00,1,2016,180.91,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,2230000,164.0,0.0,6
2,NaN,2016-12-27,35.60,0,2016,1363.48,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010131,128.0,0.0,13
3,08:24:24,2017-10-23,31.01,0,2017,1181.45,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,7
4,NaN,2017-03-19,51.95,0,2017,1818.09,2418.0,21-8B2-7695,27.12.16 23:06:11,9.0,454.0,1010121,126.0,0.0,5

In [5]:
df_train['date'] = df_train['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d').replace(day = 1))

In [6]:
df_train.head()

,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
0,NaN,2016-12-01,30.46,0,2016,1090.60,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,5
1,NaN,2016-12-01,0.00,1,2016,180.91,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,2230000,164.0,0.0,6
2,NaN,2016-12-01,35.60,0,2016,1363.48,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010131,128.0,0.0,13
3,08:24:24,2017-10-01,31.01,0,2017,1181.45,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,7
4,NaN,2017-03-01,51.95,0,2017,1818.09,2418.0,21-8B2-7695,27.12.16 23:06:11,9.0,454.0,1010121,126.0,0.0,5

In [7]:
def next_month(x):
    if x.month == 12:
        return x.replace(year=x.year+1, month=1)
    else:
        return x.replace(month=x.month+1)

In [8]:
for i in tqdm.tqdm(df_train.index):
    if df_train.loc[i, 'id'] in list(df_train[df_train.date == next_month(df_train.loc[0,'date'])]['id']):
        df_train.loc[i, 'target'] = 1
    else:
        df_train.loc[i, 'target'] = 0

  0%|          | 455/5563602 [01:04<217:26:46,  7.11it/s]

KeyboardInterrupt:

In [ ]:
df_train.head()

In [10]:
df_small = df_train[['date', 'id']].drop_duplicates()
df_small.head()

        date           id
0 2016-12-01  21-8B2-7695
3 2017-10-01  21-8B2-7695
4 2017-03-01  21-8B2-7695
5 2017-08-01  21-8B2-7695
6 2017-05-01  21-8B2-7695

In [16]:
for i in tqdm.tqdm(df_small.index):
    if len(df_small[(df_small.id == df_small.loc[i, 'id']) & (df_small.date == next_month(df_small.loc[0,'date']))]) > 0:
        df_small.loc[i, 'target'] = 1
    else:
        df_small.loc[i, 'target'] = 0

  0%|          | 1532/1061822 [02:09<24:54:47, 11.82it/s]

KeyboardInterrupt:

  0%|          | 1532/1061822 [02:20<26:59:50, 10.91it/s]

In [21]:
df_sorted = df_small.sort_values(['id', 'date'])
df_sorted.head(20)

              date            id  target
5563588 2016-03-01  21-186G-1161     NaN
5563592 2016-04-01  21-186G-1161     NaN
5563580 2016-07-01  21-186G-1161     NaN
5563579 2016-09-01  21-186G-1161     NaN
5563582 2016-10-01  21-186G-1161     NaN
5563589 2016-11-01  21-186G-1161     NaN
5563599 2016-12-01  21-186G-1161     NaN
5563578 2017-05-01  21-186G-1161     NaN
5563574 2017-06-01  21-186G-1161     NaN
5563577 2017-08-01  21-186G-1161     NaN
5563575 2017-12-01  21-186G-1161     NaN
5563547 2017-01-01  21-186G-1172     NaN
5563553 2017-02-01  21-186G-1172     NaN
5563523 2017-03-01  21-186G-1172     NaN
5563506 2017-04-01  21-186G-1172     NaN
5563500 2017-05-01  21-186G-1172     NaN
5563498 2017-06-01  21-186G-1172     NaN
5563513 2017-07-01  21-186G-1172     NaN
5563511 2017-08-01  21-186G-1172     NaN
5563505 2017-09-01  21-186G-1172     NaN

In [25]:
df_sorted = df_sorted.reset_index(drop=True)
df_sorted.drop('terget', axis=1, inplace=True)
df_sorted.head(20)

         date            id  target
0  2016-03-01  21-186G-1161     NaN
1  2016-04-01  21-186G-1161     NaN
2  2016-07-01  21-186G-1161     NaN
3  2016-09-01  21-186G-1161     NaN
4  2016-10-01  21-186G-1161     NaN
5  2016-11-01  21-186G-1161     NaN
6  2016-12-01  21-186G-1161     NaN
7  2017-05-01  21-186G-1161     NaN
8  2017-06-01  21-186G-1161     NaN
9  2017-08-01  21-186G-1161     NaN
10 2017-12-01  21-186G-1161     NaN
11 2017-01-01  21-186G-1172     NaN
12 2017-02-01  21-186G-1172     NaN
13 2017-03-01  21-186G-1172     NaN
14 2017-04-01  21-186G-1172     NaN
15 2017-05-01  21-186G-1172     NaN
16 2017-06-01  21-186G-1172     NaN
17 2017-07-01  21-186G-1172     NaN
18 2017-08-01  21-186G-1172     NaN
19 2017-09-01  21-186G-1172     NaN

In [28]:
for i in tqdm.tqdm(df_sorted.index[:1]):
    if (df_sorted.loc[i, 'id'] == df_sorted.loc[i+1, 'id']) & (df_sorted.loc[i, 'date'] == next_month(df_sorted.loc[i, 'date'])):
        df_sorted.loc[i, 'target'] = 1
    else:
        df_sorted.loc[i, 'target'] = 0

100%|██████████| 1/1 [00:00<00:00, 36.74it/s]

In [29]:
df_sorted.head(20)

         date            id  target
0  2016-03-01  21-186G-1161     0.0
1  2016-04-01  21-186G-1161     0.0
2  2016-07-01  21-186G-1161     0.0
3  2016-09-01  21-186G-1161     0.0
4  2016-10-01  21-186G-1161     0.0
5  2016-11-01  21-186G-1161     0.0
6  2016-12-01  21-186G-1161     0.0
7  2017-05-01  21-186G-1161     0.0
8  2017-06-01  21-186G-1161     0.0
9  2017-08-01  21-186G-1161     0.0
10 2017-12-01  21-186G-1161     0.0
11 2017-01-01  21-186G-1172     0.0
12 2017-02-01  21-186G-1172     0.0
13 2017-03-01  21-186G-1172     0.0
14 2017-04-01  21-186G-1172     0.0
15 2017-05-01  21-186G-1172     0.0
16 2017-06-01  21-186G-1172     0.0
17 2017-07-01  21-186G-1172     0.0
18 2017-08-01  21-186G-1172     0.0
19 2017-09-01  21-186G-1172     0.0